<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to Home</h1>
    <ul class="post-list">
      <li class="post-item">
        <h3><a href="/posts/1">Post 1 Title</a></h3>
        <p>Post 1 Body</p>
      </li>
      <!-- Other post items... -->
    </ul>
  </body>
</html>
